<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="STRIPE_SECRET" value="sk_test_Qz0DuTbrosLiuFvvDMN2q1iY" />
        <env name="STRIPE_KEY" value="pk_test_LO1fWTzy7HGLjxb5E4BvdN2S" />
    </php>
</phpunit>
